<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.title}">Login</title>
</head>
<body>
<h2 th:text="#{login.title}">Login</h2>
<form th:action="@{/login}" method="post">
    <div>
        <label th:text="#{login.email}">Email: </label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label th:text="#{login.password}">Senha: </label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" th:value="#{login.submit}" value="Login"/>
        <a th:href="@{/register/empresa}" th:text="#{login.register}">Registrar</a>
        <a th:href="@{/vagas}" th:text="#{login.view_jobs}">Ver Vagas</a>
    </div>
</form>

<!-- Footer com os botões para alterar idioma -->
<footer>
    <div>
        <p>Selecione o idioma:</p>
        <a href="?lang=pt_BR">Português</a> |
        <a href="?lang=en">English</a>

    </div>
</footer>
</body>
</html>
