<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Vagas</title>
</head>
<body>
<h1>Lista de Vagas Cadastradas</h1>
<table border="1">
    <thead>
    <tr>

        <th>Descrição</th>
        <th>Salário</th>
        <th>Data Limite</th>
        <th>Empresa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vaga : ${vagas}">

        <td th:text="${vaga.descricao}"></td>
        <td th:text="${vaga.remuneracao}"></td>
        <td th:text="${#dates.format(vaga.dataLimiteInscricao, 'dd/MM/yyyy')}"></td>
        <td th:text="${vaga.empresa.nome}"></td>
        <td>
            <a th:href="@{/admin/editarVaga/{id}(id=${vaga.id})}">Editar</a>
            <a th:href="@{/admin/excluirVaga/{id}(id=${vaga.id})}">Excluir</a>
    </tr>
    </tbody>
</table>
</body>
</html>
