<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empresas</title>
</head>
<body>
<h1>Lista de Empresas Cadastradas</h1>
<!-- Exibe a mensagem de sucesso -->
<div th:if="${sucesso}" style="color: green;">
    <p th:text="${sucesso}"></p>
</div>

<!-- Exibe a mensagem de erro -->
<div th:if="${erro}" style="color: red;">
    <p th:text="${erro}"></p>
</div>

<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Descrição</th>
        <th>Cidade</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="empresa : ${empresas}">
        <td th:text="${empresa.nome}"></td>
        <td th:text="${empresa.cnpj}"></td>
        <td th:text="${empresa.descricao}"></td>
        <td th:text="${empresa.cidade}"></td>
        <td th:text="${empresa.usuario.email}"></td>
        <td>
            <a th:href="@{/admin/editarEmpresa/{id}(id=${empresa.id})}">Editar</a>
            <a th:href="@{/admin/excluirEmpresa/{id}(id=${empresa.id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/admin/home">Voltar para tela inicial</a>


</body>
</html>
