<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{elv.title}">Minhas Vagas Cadastradas</title>
    <link rel="stylesheet" th:href="@{/css/empresa/listaVagas.css}">
</head>
<body>
<div class="container">
    <h1 th:text="#{elv.my_registered_jobs}">Minhas Vagas Cadastradas</h1>

    <!-- Exibe a mensagem de erro -->
    <div th:if="${erro}" class="message error">
        <p th:text="${erro}"></p>
    </div>

    <!-- Exibe a mensagem de sucesso -->
    <div th:if="${sucesso}" class="message success">
        <p th:text="${sucesso}"></p>
    </div>

    <table>
        <thead>
        <tr>
            <th th:text="#{elv.description}">Descrição</th>
            <th th:text="#{elv.salary}">Remuneração</th>
            <th th:text="#{elv.deadline}">Data Limite</th>
            <th th:text="#{elv.city}">Cidade</th>
            <th th:text="#{elv.actions}">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vaga : ${vagas}">
            <td th:text="${vaga.descricao}"></td>
            <td th:text="${vaga.remuneracao}"></td>
            <td th:text="${#dates.format(vaga.dataLimiteInscricao, 'dd/MM/yyyy')}"></td>
            <td th:text="${vaga.cidade}"></td>
            <td>
                <a th:href="@{/empresa/editarVaga/{id}(id=${vaga.id})}" th:text="#{elv.edit}">Editar</a>
                <a th:href="@{/empresa/excluirVaga/{id}(id=${vaga.id})}" th:text="#{elv.delete}">Excluir</a>
                <a th:href="@{/empresa/verCandidatos/{id}(id=${vaga.id})}" th:text="#{elv.view_candidates}">Ver Candidatos</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/empresa/home" th:text="#{elv.back_home}">Voltar para a Home</a>
</div>
<footer>
    <p th:text="#{ph.select_language}">Selecione o idioma:</p>
    <a href="?lang=pt_BR" th:text="#{ph.portuguese}">Português</a> |
    <a href="?lang=en" th:text="#{ph.english}">English</a>
</footer>
</body>
</html>
