<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscrição na Vaga</title>
    <link rel="stylesheet" th:href="@{/css/profissional/inscreverVaga.css}">
</head>
<body>
<div class="container">
    <h1>Inscrever-se na Vaga</h1>

    <form th:action="@{'/profissional/inscreverVaga/' + ${vaga.id}}" th:object="${candidatura}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{vaga.id}" th:value="${vaga.id}" />
        <input type="hidden" th:field="*{profissional.id}" th:value="${profissional.id}" />

        <div class="form-group">
            <label for="curriculo">Currículo (PDF):</label>
            <input type="file" id="curriculo" name="curriculoFile" accept=".pdf" required="required"/>
        </div>

        <!-- Campo de data de inscrição escondido -->
        <input type="hidden" id="dataCandidatura" th:field="*{dataCandidatura}" th:value="${#dates.format(candidatura.dataCandidatura, 'yyyy-MM-dd HH:mm:ss')}" />

        <div class="form-group">
            <button type="submit" class="btn-submit">Inscrever-se</button>
            <a th:href="@{/profissional/vagas}" class="btn-cancel">Cancelar</a>
        </div>
    </form>
</div>
</body>
</html>
