<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscrição na Vaga</title>
</head>
<body>
<h1>Inscrever-se na Vaga</h1>

<form th:action="@{'/profissional/inscreverVaga/' + ${vaga.id}}" th:object="${candidatura}" method="post" enctype="multipart/form-data">

    <input type="hidden" th:field="*{vaga.id}" th:value="${vaga.id}" />
    <input type="hidden" th:field="*{profissional.id}" th:value="${profissional.id}" />

    <div>
        <label for="curriculo">Currículo (PDF):</label>
        <input type="file" id="curriculo" name="curriculoFile" accept=".pdf" required="required"/>
    </div>

    <div>
        <label for="dataCandidatura">Data de Inscrição:</label>
        <input type="text" id="dataCandidatura" th:field="*{dataCandidatura}" disabled="disabled" th:value="${#dates.format(candidatura.dataCandidatura, 'yyyy-MM-dd HH:mm:ss')}" />
    </div>

    <div>
        <button type="submit">Inscrever-se</button>
        <a th:href="@{/profissional/vagas}">Cancelar</a>
    </div>
</form>

</body>
</html>
