<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vagas Inscritas</title>
    <link rel="stylesheet" th:href="@{/css/profissional/vagasInscritas.css}">
</head>
<body>
<div class="container">
    <h1>Vagas Inscritas</h1>

    <table>
        <thead>
        <tr>
            <th>Descrição da Vaga</th>
            <th>Cidade</th>
            <th>Status</th>
            <th>Link da Entrevista</th>
            <th>Data e Hora da Entrevista</th>
            <th>Currículo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="candidatura : ${candidaturas}">
            <td th:text="${candidatura.vaga.descricao}"></td>
            <td th:text="${candidatura.vaga.cidade}"></td>
            <td th:text="${candidatura.status.descricao}"></td>
            <td>
                <a th:href="${candidatura.entrevistaLink}" th:if="${candidatura.entrevistaLink != null}">Link</a>
                <span th:if="${candidatura.entrevistaLink == null}">Sem link</span>
            </td>
            <td>
                <span th:if="${candidatura.entrevistaDataHora != null}" th:text="${#dates.format(candidatura.entrevistaDataHora, 'dd/MM/yyyy HH:mm')}"></span>
                <span th:if="${candidatura.entrevistaDataHora == null}">Sem data de entrevista</span>
            </td>
            <td>
                <a th:href="@{/profissional/downloadCurriculo/{vagaId}(vagaId=${candidatura.vaga.id})}" th:if="${candidatura.curriculo != null}">
                    <span th:text="${candidatura.curriculoNome}"></span> <!-- Exibe o nome do currículo -->
                </a>
                <span th:if="${candidatura.curriculo == null}">Nenhum currículo</span>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/profissional/home" class="btn-back">Voltar</a>
</div>
</body>
</html>
