/* Estilos gerais */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Garante que a div container expanda para ocupar o espaço */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para mensagens */
.message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.error {
    background-color: #ffebee;
    color: #c62828;
}

.success {
    background-color: #e8f5e9;
    color: #2e7d32;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para links e botões */
a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
    color: white;
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.btn-back:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    margin-top: auto; /* Isso garante que o footer fique no fim da página */
}

footer p {
    margin-bottom: 10px;
    color: #333;
}

footer a {
    color: #000000;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    table, th, td {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }

    a {
        padding: 6px 10px;
    }
}
