<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{plv.title}">Lista de Vagas</title>
    <link rel="stylesheet" th:href="@{/css/profissional/listaVagas.css}">
</head>
<body>
<div class="container">
    <h1 th:text="#{plv.available_jobs}">Vagas Disponíveis</h1>

    <!-- Exibe a mensagem de erro, se houver -->
    <div th:if="${erro}" class="message error">
        <p th:text="${erro}"></p>
    </div>

    <!-- Exibe a mensagem de sucesso, se houver -->
    <div th:if="${sucesso}" class="message success">
        <p th:text="${sucesso}"></p>
    </div>

    <!-- Tabela de vagas -->
    <table>
        <thead>
        <tr>
            <th th:text="#{plv.table.company}">Empresa</th>
            <th th:text="#{plv.table.description}">Descrição</th>
            <th th:text="#{plv.table.salary}">Remuneração</th>
            <th th:text="#{plv.table.deadline}">Data Limite</th>
            <th th:text="#{plv.table.city}">Cidade</th>
            <th th:text="#{plv.table.actions}">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vaga : ${vagas}">
            <td th:text="${vaga.empresa.nome}"></td>
            <td th:text="${vaga.descricao}"></td>
            <td th:text="${vaga.remuneracao}"></td>
            <td th:text="${#dates.format(vaga.dataLimiteInscricao, 'dd/MM/yyyy')}"></td>
            <td th:text="${vaga.cidade}"></td>
            <td>
                <a th:href="@{/profissional/inscreverVaga/{id}(id=${vaga.id})}" th:text="#{plv.table.apply}">Inscrever-se</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/profissional/home" class="btn-back" th:text="#{plv.table.back_to_home}">Voltar para a Home</a>
</div>

<footer>
    <div>
        <p th:text="#{ph.select_language}">Selecione o idioma:</p>
        <a href="?lang=pt_BR" th:text="#{ph.portuguese}">Português</a> |
        <a href="?lang=en" th:text="#{ph.english}">English</a>
    </div>
</footer>

</body>
</html>
