<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cadastrar Vaga</title>
</head>
<body>
<h1>Cadastrar Vaga</h1>

<div th:if="${erro}" style="color: red;">
  <p th:text="${erro}"></p>
</div>

<!-- Exibe a mensagem de sucesso, se houver -->
<div th:if="${sucesso}" style="color: green;">
  <p th:text="${sucesso}"></p>
</div>

<form th:action="@{/empresa/cadastrarVaga}" th:object="${vaga}" method="post">

  <div>
    <label for="cnpj">CNPJ da Empresa:</label>
    <input type="text" id="cnpj" th:field="*{empresa.cnpj}" disabled="disabled" />
  </div>

  <div>
    <label for="descricao">Descrição da Vaga:</label>
    <textarea id="descricao" th:field="*{descricao}" required="required"></textarea>
  </div>

  <div>
    <label for="remuneracao">Remuneração:</label>
    <input type="text" id="remuneracao" th:field="*{remuneracao}" required="required" />
  </div>

  <div>
    <label for="dataLimiteInscricao">Data Limite de Inscrição:</label>
    <input type="date" id="dataLimiteInscricao" th:field="*{dataLimiteInscricao}" required="required" />

  </div>

  <div>
    <label for="cidade">Cidade:</label>
    <input type="text" id="cidade" th:field="*{cidade}" required="required" />
  </div>

  <div>
    <button type="submit">Cadastrar Vaga</button>
    <a href="/empresa/home">Cancelar</a>
  </div>
</form>

</body>
</html>
