<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Empresa</title>
</head>
<body>
<h1>Registrar Empresa</h1>
<a th:href="@{/register/profissional}">Registrar Profissional</a>

<form th:action="@{/register/empresa}" th:object="${empresa}" method="post">

    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" required="required"/>
        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro no nome</p>
    </div>

    <div>
        <label for="cnpj">CNPJ:</label>
        <input type="text" id="cnpj" th:field="*{cnpj}" required="required"/>
        <p th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}">O CNPJ deve conter exatamente 14 dígitos numéricos</p>
    </div>

    <div>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" th:field="*{descricao}"></textarea>
        <p th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Erro na descrição</p>
    </div>

    <div>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" th:field="*{cidade}" required="required"/>
        <p th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">Erro na cidade</p>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{usuario.email}" required="required"/>
        <p th:if="${#fields.hasErrors('usuario.email')}" th:errors="*{usuario.email}">Erro no email</p>
    </div>

    <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" th:field="*{usuario.senha}" required="required"/>
        <p th:if="${#fields.hasErrors('usuario.senha')}" th:errors="*{usuario.senha}">Erro na senha</p>
    </div>

    <div>
        <button type="submit">Registrar</button>
        <a th:href="@{/login}">Voltar para login</a>
    </div>
</form>

</body>
</html>
