
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos para formulários */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #635757;
}

/* Estilos para links */
a {
    color: #3498db;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}




.message {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.error {
    background-color: #ffebee;
    color: #c62828;
    border: 1px solid #ef9a9a;
}

.success {
    background-color: #e8f5e9;
    color: #2e7d32;
    border: 1px solid #a5d6a7;
}
/* Estilos para o rodapé */
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #7f8c8d;
}

footer a {
    color: #3498db;
    margin: 0 5px;
}

/* Responsividade */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    form {
        padding: 20px;
    }
}